body {
  background-image: linear-gradient(
    to right bottom,
    #475974,
    #445a7c,
    #415c84,
    #3d5d8c,
    #3a5e94
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
